@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

// font-family: 'Crimson Text', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Piazzolla', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Abril Fatface', cursive;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #1e1e1e;
  background-color: #f0f0f0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.desktop-only {
  @media only screen and (max-width: 769px) {
    display: none;
  }
}

.mobile-only {
  @media only screen and (min-width: 769px) {
    display: none;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: block !important;
}

// HEADER COMPONENT
.header-main {
  background: #fff url("/images/banner-bg.png") no-repeat fixed center/cover;

  .header-bg {
    background-color: rgba($color: #094d81, $alpha: 0.8);
  }
  .header {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    @media only screen and (min-width: 769px) {
      height: 90px;
    }
  }
}

.logo {
  background-color: rgba($color: #fff, $alpha: 0.9);
  border-radius: 0.5rem;
  // margin-top: -8rem;
  padding: 0.5rem;
  // height: 225px;
  img {
    margin-top: rem;
    width: 225px;
    @media only screen and (min-width: 426px) {
      width: 225px;
    }
    @media only screen and (min-width: 769px) {
      width: 225px;
      // margin-left: 1rem;
    }
  }
}

.sidebar {
  position: fixed;
  background-color: #094d81;
  height: 100%;
  width: 100%;
  z-index: 200;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  // transition: background-color 0.2s ease-in-out;

  @media only screen and (min-width: 769px) {
    display: none;
  }

  .close-icon {
    position: absolute;
    padding: 0.5rem;
    top: 2%;
    right: 2%;
    // color: transparent;
    // transition: color 0.2s ease-in-out;
    svg {
      height: 1.5em;
      width: 1.5em;
    }
  }
}

.sidebar-open {
  transform: translateY(0);
  // background-color: #fff;
  // .close-icon {
  //   color: #1e1e1e;
  // }
}

.sidebar-close {
  transform: translateY(-100%);
  // background-color: transparent;
  // .close-icon {
  //   color: transparent;
  // }
}

.nav-items {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  @media only screen and (min-width: 769px) {
    padding: 0;
    flex-flow: row;
  }
  .nav-item {
    display: block;
    width: 100%;
    @media only screen and (min-width: 769px) {
      width: auto;
    }
    a {
      padding: 0.5rem 0.5rem;
      margin: 0.5rem 0;
      display: block;
      font-size: 2rem;
      text-align: center;
      border-radius: 0.25rem;
      transition: background-color 0.3s, color 0.4s;
      color: #fff;

      @media only screen and (min-width: 769px) {
        font-size: 1rem;
        display: inline;
        margin-right: 0.25rem;
      }

      &:hover {
        background-color: #116db5;
        border-radius: 0.25rem;
        color: #fff;
      }
    }
  }

  .active {
    background-color: #116db5;
    border-radius: 0.25rem;
    color: #fff;
  }
}

$carousel-height: 525px;

.carousel-main {
  height: $carousel-height;
  background: #fff url("/images/banner-bg.png") no-repeat fixed center/cover;
  img {
    display: inline;
  }

  .slick-dots {
    bottom: 1rem;

    li {
      display: block;
      height: 0.75rem;
      width: 0.75rem;
      button {
        &::before {
          font-size: 8px;
        }
      }
    }
  }

  .slide {
    position: relative;
    width: 100%;
    height: $carousel-height;
    padding: 2rem;
    .text {
      font-family: "Oswald", sans-serif;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 1em;
      color: #fff;

      @media only screen and (min-width: 767px) {
        font-size: 4rem;
      }
      @media only screen and (min-width: 1025px) {
        font-size: 5rem;
      }
    }
    .image {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      img {
        width: 275px;
        @media only screen and (min-width: 767px) {
          width: 400px;
        }
        @media only screen and (min-width: 1025px) {
          width: 450px;
        }
      }
    }
  }
}

.main-points-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  // background: #fff url("/images/banner-bg.png") no-repeat fixed center/cover;
  background-color: #094d81;
}

.main-points {
  margin: 0 auto;
  @media only screen and (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
  }
}

.point {
  padding: 1.5rem;
  // background-color:rgba(#fff, .8);
  color: #fff;
  .point-row {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;

    .image {
      text-align: center;

      img {
        width: 25px;
      }
    }

    .heading {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    .detail {
      font-size: 0.9rem;
    }
  }
}

.footer-main {
  font-size: 0.9rem;
  bottom: 0;
  .footer-content {
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem 2rem 4rem 2rem;
    align-items: flex-start;

    @media only screen and (min-width: 767px) {
      grid-template-columns: 300px 1fr;
    }

    .logo-footer {
      margin-bottom: 1rem;
      img {
        width: 200px;
        margin: 0;
      }
    }

    .content {
      color: #d2d2d2;
      .quick-links {
        .heading {
          font-size: 0.7rem;
          font-weight: bold;
          padding-bottom: 0.3rem;
          color: #c0c0c0;
        }

        .block {
          margin-bottom: 0.6rem;
          display: flex;
          align-items: flex-start;
          flex-flow: row wrap;

          .col {
            margin-right: 2rem;
          }
        }
      }
      .contacts {
        margin-top: 3rem;
        margin-bottom: 0.6rem;
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        .col {
          margin-right: 2rem;
          .block {
            margin-bottom: 0.6rem;

            .heading {
              font-size: 0.7rem;
              font-weight: bold;
              padding-bottom: 0.3rem;
              color: #c0c0c0;
            }
          }
        }
      }
    }
  }
  .footer-line {
    max-width: 1350px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
}

.page-title {
  height: 175px;
  background: #fff url("/images/banner-bg.png") no-repeat fixed center/cover;

  .heading {
    max-width: 1300px;
    margin: 0 auto;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: "Crimson Text", serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 2rem 2rem 2rem;
  }
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1350px;
  margin: 0 auto;
  padding: 2rem;
  @media only screen and (min-width: 769px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  .form-section {
    form {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 100%;
      .BtnGroup {
        padding-top: 10px;
      }
      .TextFields {
        margin-bottom: 10px;
      }
    }
  }

  .address-section {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    font-size: 1.2rem;

    .logo-contact {
      margin-bottom: 1rem;
      img {
        width: 250px;
        margin: 0;
      }
    }

    .contacts {
      margin-top: 1rem;

      .block {
        margin-bottom: 0.5rem;

        .heading {
          margin-top: 1rem;
          font-size: 0.8rem;
          font-weight: bold;
        }
      }
    }
  }
}

.about-page {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 1350px;
  font-family: "Crimson Text", serif;

  .section-head {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .gallary {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    div {
      padding: 0.25rem;
      margin: 1rem 0.2rem;
      width: 415px;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: 1px 1px 4px 0px #1e1e1e;
      }
    }
  }

  .about-head {
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .about-image {
      margin: 1rem;
      width: 625px;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: 1px 1px 4px 0px #1e1e1e;
      }
    }

    .about-tag {
      width: 625px;
      padding: 1rem;
      font-size: 3rem;
      // font-family: 'Crimson Text', serif;
      // font-family: 'Open Sans', sans-serif;
      // font-family: 'Piazzolla', serif;
      // font-family: 'Roboto', sans-serif;
      // font-family: 'Oswald', sans-serif;
      font-family: "Abril Fatface", cursive;
    }
  }

  .about-text {
    margin: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
  }
}

.section {
  padding-top: 5rem;
  // padding-bottom: 5rem;
  background-color: #fff;
  font-family: "Piazzolla", serif;

  .heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

$img-w: 10000px;
$img-h: 400px;
$shrink: 2;
$ratio: 1 / $shrink;
$speed: 50s;

.client-scroll {
  // position: absolute;
  padding-top: 4rem;
  padding-bottom: 5rem;
  width: 100%;
  top: calc(50% - #{$img-h * $ratio / 2});
  overflow: hidden;
  .scroll-row {
    width: $img-w * $ratio;
    height: $img-h * $ratio;
    background-image: url("/clients/clients.png");
    background-size: $img-w * $ratio $img-h * $ratio;
    animation: slide $speed linear infinite;
  }
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -$img-w * $ratio;
  }
}

.products-grid {
  display: flex;
  flex-flow: row wrap;
  max-width: 1350px;
  margin: 0 auto;
  padding: 2rem;
  // align-items: center;
  justify-content: center;
  font-family: "Crimson Text", serif;

  .product-tile {
    margin: 1rem;
    border-radius: 1rem;
    // border: 2px solid #b3b3b3;
    padding: 0.5rem;
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;

    img {
      box-shadow: 1px 1px 4px 0px #1e1e1e;
      border-radius: 1rem;
    }

    .text {
      max-width: 175px;
      font-size: 1.3rem;
      margin: 0 auto;
      font-weight: 600;
      text-align: center;
      padding: 0.5rem;
    }

    &:hover {
      box-shadow: 1px 1px 4px 0px #1e1e1e;
    }
  }
}

.product-detail-page {
  max-width: 1350px;
  padding: 2rem 2rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  font-family: "Crimson Text", serif;
  font-size: 1.3rem;

  @media only screen and (min-width: 767px) {
    grid-template-columns: 250px 1fr;
  }

  .image {
    // padding: .5rem;
    text-align: center;
    height: 200px;
    img {
      border-radius: 1rem;
    }
  }

  .details {
    padding: 1rem;
    border-radius: 1rem;
    .intro {
      margin-bottom: 3rem;
      padding: 0;

      .intro-text {
        margin-bottom: 1.5rem;

        ul {
          margin: 0;
          display: flex;
          flex-flow: row wrap;
          list-style: circle;

          li {
            width: 275px;
            // border: 1px solid rgba(#1e1e1e, 0.15);
            padding: 0.1rem 0.2rem;
            margin: 0.2rem;
          }
        }
      }
    }

    .gallary {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-top: 1rem;

      div {
        padding: 0.25rem;
        margin: 0.25rem;

        img {
          width: 250px;
          border-radius: 1rem;
          box-shadow: 1px 1px 4px 0px #1e1e1e;
        }
      }
    }
  }
}

.mequip-page {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 1350px;
  font-family: "Crimson Text", serif;

  .section-head {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .section-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .row {
      width: 650px;
      font-size: 1.25rem;
      display: grid;
      grid-template-columns: 30px 1fr;
      margin-bottom: 2rem;
      // background-color: #e2e2e2;
      padding: 0.5rem;
      border-radius: 1rem;
      column-gap: 1rem;
      // box-shadow: 1px 1px 4px 0px #1e1e1e;
      @media only screen and (min-width: 767px) {
        font-size: 1.5rem;

        &:nth-child(1) {
          margin-right: 1rem;
        }
      }

      .blank {
        background-color: #094d81;
        height: 10px;
        width: 10px;
        margin-top: .6rem;
        padding: 1rem;
        border-radius: 50%;
        // box-shadow: 1px 1px 4px 0px #1e1e1e;
      }

      .text {
        padding: .5rem;
        color: #1e1e1e;

        .sub-row {
          font-size: 1.25rem;
          // display: grid;
          // grid-template-columns: 1fr;
          margin-bottom: 1rem;
          background-color: #e2e2e2;
          padding: 0.5rem;
          border-radius: 1rem;
          column-gap: 1rem;
          // box-shadow: 1px 1px 4px 0px #1e1e1e;
          @media only screen and (min-width: 767px) {
            font-size: 1.5rem;
          }

          .sub-blank {
            // background-color: #094d81;
            height: 15px;
            width: 15px;
            margin-top: 0.6rem;
            padding: .3rem;
            // border-radius: 50%;
          }

          .sub-text {
            padding: .5rem;
            color: #1e1e1e;
          }
        }
      }
    }
  }

  // .equip-section {
  //   .carousel-root {
  //   }
  // }
}

.marketing-points {
  max-width: 1350px;
  margin: 0 auto;
  padding: 4rem 1rem;
  // display: grid;
  // column-gap: 1rem;
  // row-gap: 1rem;
  // grid-template-columns: 375px 375px 375px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .block {
    max-width: 625px;
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    background-color: rgba(#094d81, 1);

    // border-radius: 1rem;
    box-shadow: 1px 1px 5px 0px #1e1e1e;
    .image {
      // padding: .25rem;
      max-height: 250px;
      img {
        // border-radius: 1rem;
        // border: 2px solid rgba(#181818, 0.8);
        width: 375px;
      }
    }

    .text {
      font-size: 1.5rem;
      font-weight: bold;
      max-width: 250px;
      margin: 0 auto;
      line-height: 1.5rem;
      // text-align: center;
      padding: 1rem;
      // max-height: 200px;
      // font-family: 'Crimson Text', serif;
      // font-family: 'Open Sans', sans-serif;
      // font-family: 'Piazzolla', serif;
      font-family: "Roboto", sans-serif;
      // font-family: "Oswald", sans-serif;
      // font-family: 'Abril Fatface', cursive;
      color: #fff;
    }
  }
}

.social-icons {
  // margin: 0 auto;
  // max-width: 1350px;
  // text-align: center;
  // background-color: #116DB5;
  ul {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      a {
        position: relative;
        width: 35px;
        height: 35px;
        display: block;
        text-align: center;
        margin: 0 5px;
        border-radius: 50%;
        padding: 2px;
        box-sizing: border-box;
        text-decoration: none;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        background: linear-gradient(0deg, #ddd, #fff);
        transition: 0.5s;
        &:hover {
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          text-decoration: none;
        }
        .fab {
          width: 100%;
          height: 100%;
          display: block;
          background: linear-gradient(0deg, #fff, #ddd);
          border-radius: 50%;
          line-height: calc(40px - 8px);
          font-size: 20px;
          color: #262626;
          transition: 0.5s;
        }
      }
      &:nth-child(1) {
        a {
          &:hover {
            .fab {
              color: #3b5998;
            }
          }
        }
      }
      &:nth-child(2) {
        a {
          &:hover {
            .fab {
              color: #00aced;
            }
          }
        }
      }
      &:nth-child(3) {
        a {
          &:hover {
            .fab {
              color: #007bb6;
            }
          }
        }
      }
      &:nth-child(4) {
        a {
          &:hover {
            .fab {
              color: #007bb6;
            }
          }
        }
      }
      &:nth-child(5) {
        a {
          &:hover {
            .fab {
              color: #007bb6;
            }
          }
        }
      }
      &:nth-child(6) {
        a {
          &:hover {
            .fab {
              color: #27b900;
            }
          }
        }
      }
    }
  }
}
